/*sub-visual*/
.sub_visual{background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/sub/sub_program.jpg) no-repeat center / cover;}

/*program*/
.program{padding: 150px 0;}
.program_list:not(:last-child){padding: 0 0 150px;}
.program_box{display: flex; justify-content: space-between; flex-wrap: wrap; gap: 40px 0;}
.program_box .img_box{width: 50%;}
.program_box .img_box img{width: 100%;}
.program_box .txt_box{width: 45%;}
.program_box .txt_box li{display: flex; padding: 0 0 40px;}
.program_box .txt_box li:last-child{padding: 0;}
.program_box .txt_box p{width: 150px; font-weight: 600; font-size: 2rem;}
.program_box .txt_box span{display: inline-block; width: calc(100% - 150px); font-weight: 400; font-size: 2rem; color: #000;}
.program_box .txt_box strong{font-weight: 600; font-size: 2rem;}
.program_box .txt_box .btn_event{display: block; padding: 20px 0; width: 100%; font-weight: 600; font-size: 2rem; background: #2A4791; color: #fff; border: 1px solid #2A4791; text-align: center; transition: all 0.5s;}
.program_box .txt_box .btn_event:hover{background: #fff; color: #2A4791;}

@media(max-width:1100px){
  .program_box .txt_box p{width: 100px; font-size: 1.6rem;}
  .program_box .txt_box span{width: calc(100% - 100px);font-size: 1.6rem;}
  .program_box .txt_box strong{font-size: 1.6rem;}
  .program_box .txt_box .btn_event{padding: 15px 0; font-size: 1.6rem;}
}
@media(max-width:900px){
  .program{padding: 80px 0;}
  .program_list:not(:last-child){padding: 0 0 80px;}
  .program_box .img_box{width: 100%;}
  .program_box .txt_box{width: 100%;}
  .program_box .txt_box li{padding: 0 0 20px;}
  .program_box .txt_box .btn_event:hover{background: #2A4791; color: #fff;}
}
@media(max-width:500px){
  .program{padding: 60px 0;}
  .program_list:not(:last-child){padding: 0 0 60px;}
  .program_box{gap: 30px 0;}
  .program_box .txt_box p{width: 70px; font-size: 1.4rem;}
  .program_box .txt_box span{width: calc(100% - 70px);font-size: 1.4rem;}
  .program_box .txt_box strong{font-size: 1.4rem;}
  .program_box .txt_box .btn_event{font-size: 1.4rem;}
}