/*sub-visual*/
.sub_visual{background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/sub/sub_info.jpg) no-repeat center / cover;}

/*guide*/
.guide{padding: 150px 0;}

@media(max-width:900px){
  .guide{padding: 80px 0;}
}
@media(max-width:500px){
  .guide{padding: 60px 0;}
}

/*map*/
.map .img_box{width: 100%; height: 500px;}
.map .img_box img{width: 100%; height: 100%; object-fit: cover;}
.map p{padding: 50px 0 0; font-weight: 600; font-size: 2.3rem;}

@media(max-width:900px){
  .map .img_box{height: 400px;}
  .map p{padding: 30px 0 0; font-size: 1.6rem;}
}
@media(max-width:500px){
  .map .img_box{height: 300px;}
  .map p{padding: 20px 0 0; font-size: 1.4rem;}
}

/*traffic*/
.traffic{padding: 150px 0;}
.traffic .traffic_list{display: flex; flex-wrap: wrap;}
.traffic h4{padding: 0 0 40px; font-weight: 600; font-size: 2.3rem; color: #2A4791;}
.traffic .traffic_list ul{padding-left: 20px; list-style: circle;}
.traffic_list li{padding: 0 0 25px; font-weight: 500; font-size: 2rem;}
.traffic_list li:last-of-type{padding: 0;}

.traffic_list .suttle{width: 100%;}
.traffic_list .bus1{width: 50%; padding: 100px 0;}
.traffic_list .bus2{width: 50%; padding: 100px 0;}
.traffic_list .train{width: 100%;}

@media(max-width:900px){
  .traffic{padding: 80px 0;}
  .traffic h4{padding: 0 0 25px; font-size: 1.8rem;}
  .traffic_list li{padding: 0 0 20px; font-size: 1.6rem;}

  .traffic_list .bus1{padding: 40px 0;}
  .traffic_list .bus2{padding: 40px 0;}
}
@media(max-width:500px){
  .traffic{padding: 60px 0;}
  .traffic h4{padding: 0 0 15px; font-size: 1.6rem;}
  .traffic_list li{padding: 0 0 10px; font-size: 1.4rem;}
  .traffic_list .bus1{width: 100%; padding: 30px 0;}
  .traffic_list .bus2{width: 100%; padding: 0 0 30px;}
}

/*qna*/
.btn_list{display: flex; margin: 0 0 40px; flex-wrap: wrap;}
.btn_list button{padding: 30px 0; width: 25%; font-weight: 600; font-size: 2rem; border-bottom: 1px solid #2A4791; cursor: pointer; transition: all 0.5s;}
.btn_list button.active{background: #2A4791; color: #fff;}

.qna_list{display: flex; flex-wrap: wrap; gap: 40px;}
.qna_list .qna{width: calc((100% - 40px) / 2); }

.qna_list .qna .qna_box{display: flex; width: 100%; padding: 20px; align-items: center; justify-content: space-between; border: 2px solid #f2f2f2; cursor: pointer;}
.qna_list .qna .qna_box p{font-weight: 600; font-size: 2rem;}
.qna_list .qna .qna_box .qna_down{font-size: 2.2rem; transition: all 0.5s;}
.qna_list .qna .qna_box.active .qna_down{transform: rotate(-180deg);}

.qna_list .qna .qna_depth2{display: none; width: 100%; padding: 20px; background: #f2f2f2; border: 2px solid #f2f2f2;}
.qna_list .qna .qna_depth2 > p{font-weight: 400px; font-size: 2rem;}
.qna_list .qna .qna_depth2 ol{padding: 10px 0 0 20px; list-style: circle;}
.qna_list .qna .qna_depth2 ol li{padding: 5px; font-size: 1.8rem;}

.qna_list .qna .qna_depth2 .program_txt li{padding: 15px 0 0;}

.qna_list.qna_list02 .qna .qna_depth2 .program_txt li:first-child{padding: 0;}
.qna_list .qna .qna_depth2 .program_txt li p{font-weight: 500; font-size: 1.8rem;}
.qna_list .qna .qna_depth2 .program_txt li span{display: block; padding: 10px 0 0; font-size: 1.6rem;}
@media(max-width:900px){
  .btn_list{border: 1px solid #2A4791;}
  .btn_list button{width: 50%; padding: 20px 0; font-size: 1.8rem;}
  .btn_list button:nth-child(n+3){border: 0;}
  .btn_list button:nth-child(2n-1){border-right: 1px solid #2A4791;}

  .qna_list{gap: 20px 0;}
  .qna_list .qna{width: 100%;}
  .qna_list .qna .qna_down{font-size: 1.8rem;}
  .qna_list .qna .qna_box p{font-size: 1.6rem;}

  .qna_list .qna .qna_depth2 > p{font-size: 1.6rem;}
  .qna_list .qna .qna_depth2 ol li{padding: 5px; font-size: 1.4rem;}

  .qna_list .qna .qna_depth2 .program_txt li p{font-size: 1.4rem;}
  .qna_list .qna .qna_depth2 .program_txt li span{padding: 5px 0 0; font-size: 1.4rem;}
}
@media(max-width:500px){
  .btn_list{margin: 0 0 20px;}
  .btn_list button{width: 100%; padding: 15px 0; font-size: 1.4rem; border: 0;}
  .btn_list button:nth-child(2n-1){border-right: 0;}
  .btn_list button:not(:last-child){border-bottom: 1px solid #2A4791;}

  .qna_list .qna .qna_down{font-size: 1.4rem;}
  .qna_list .qna .qna_box{padding: 15px;}
  .qna_list .qna .qna_box p{font-size: 1.4rem;}

  .qna_list .qna .qna_depth2 > p{font-size: 1.4rem;}
}




